{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "module-resolver"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-use-before-define": "off",
    "react/prop-types": "off",
    "comma-dangle": "off"
  },
  "globals": {
    "fetch": false
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/extensions": [
      ".js",
      ".jsx",
      ".json"
    ]
  }
}
